<template>
<div class="column">
<h3>Checklist</h3>
<q-list link>
  <q-item inset-separator tag="label" v-for="(item,index) in listItems" :key='index' class="" style="">
    <q-item-side>
  <q-checkbox true-value="1" false-value="0" :value="responses[index]" v-model="responses[index]"  />
    </q-item-side>
    <q-item-main>
      <q-item-tile label>{{item.topic_name}}</q-item-tile>
    </q-item-main>
  </q-item>
<q-item-separator/>
</q-list>
</div>
</template>
<script>
export default{
  data () {
    return {
      listItems: {},
      select: 'false'
    }
  },
  props: ['responses'],
  beforeMount () {
    var url = 'http://localhost/day-checker/controller.php?func=cat_topics'
    var ctx = this
    this.$axios.get(url)
      .then(function (payload) {
        ctx.listItems = payload.data.data
        for (var e in ctx.listItems) {
          ctx.responses[e] = '0'
        }
        console.log(payload.data.data)
      })
      .catch(function (error) {
        console.log(error)
        console.log('Getting prices from :')
      })
  },
  methods: {
    insertDayInfo () {
      this.$emit('insertDayInfo', this.responses)
    }
  }
}
</script>
