<template>
  <div class="column justify-center text-center">
  <div class="col-6">
    <app-check-list :responses="responses"></app-check-list>
  </div>
  <q-input
    v-model="dayComment"
    type="textarea"
    float-label="Escribe un comentario aquí"
    :max-height="90"
    rows="5"
  />
    <div class="row text-center justify-center">
      <q-input class="q-pa-md" v-model="passwd" float-label="Password" color="blue" type="password" :after="[{icon: 'done', condition: passwd.length >= 1, handler () {}}]" />
    </div>
    <div class="q-pa-md">
      <q-btn label="Enviar" @click.prevent="insertDayInfo()" icon-right="send" size="lg" color="primary"></q-btn>
    </div>
  </div>
</template>

<style>
</style>

<script>
import checklist from 'src/components/checklist.vue'

export default {
  name: 'PageIndex',
  data () {
    return {
      passwd: '',
      dayComment: '',
      responses: []
    }
  },
  methods: {
    insertDayInfo () {
      console.log('listo para insertar')
      var url = 'http://localhost/day-checker/controller.php'
      var params = new URLSearchParams()
      params.append('func', 'insert_day_info')
      params.append('responses', this.responses)
      params.append('day_comment', this.dayComment)
      params.append('passwd', this.passwd)
      var ctx = this
      var color = 'blue'
      this.$axios.post(url, params)
        .then(function (response) {
          console.log('my code' + response.data.code)
          if (response.data.code !== 200) {
            color = 'red'
          }
          ctx.$q.notify({ color: color, message: response.data.msg })
          ctx.passwd = ''
          ctx.dayComment = ''
        })
        .catch(function (error) {
          ctx.$q.notify({ color: 'red', message: error.data.msg })
        })
    }
  },
  components: {
    appCheckList: checklist
  }
}
</script>
